@model Fudee_v2.Models.Restaurant

@{
    ViewData["Title"] = "Dodawanie";
}

<h1 class="oswald text-primary">Dodawanie restauracji</h1>

@{
    if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">@ViewBag.ErrorMessage</div>
    }
}

<h4 class="text-success">Nowa restauracja</h4>
<hr />
<div class="row">
    <div class="col-md-8 interspace">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameRestaurant" class="control-label"></label>
                <input asp-for="NameRestaurant" class="form-control" />
                <span asp-validation-for="NameRestaurant" class="text-danger"></span>
            </div>
            <div class="form-group"> @*do poprawy*@
                <label asp-for="IdAddress" class="control-label"></label>
                <textarea asp-for="IdAddress" class="form-control"></textarea>
                <span asp-validation-for="IdAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionRestaurant" class="control-label"></label>
                <textarea id="editor" asp-for="DescriptionRestaurant" class="form-control"></textarea>
                <span asp-validation-for="DescriptionRestaurant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialMedia" class="control-label"></label>
                <textarea id="editor" asp-for="SocialMedia" class="form-control"></textarea>
                <span asp-validation-for="SocialMedia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input type="file" name="picture" id="picture" class="form-control" accept=".jpg,.gif,.png"/>
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
               <label asp-for="HasDelivery" class="control-label"></label>
               <input class="form-check-input" asp-for="HasDelivery" />
                <span asp-validation-for="HasDelivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasCatering" class="control-label"></label>
                    <input class="form-check-input" asp-for="HasCatering" />
                <span asp-validation-for="HasCatering" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Events" class="control-label"></label>
                    <input class="form-check-input" asp-for="Events" />
                <span asp-validation-for="Events" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategory" class="control-label"></label>
                <select asp-for="IdCategory" class ="form-control" asp-items="ViewBag.CategoryId">  @*błąd*@
                    <option value="">--- Wybierz kategorię ---</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-light">Powrót do listy</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script src="~/lib/ckeditor5/ckeditor.min.js"></script>
	<script src="~/lib/ckeditor5/translations/pl.min.js"></script>
    <script>
        ClassicEditor
        .create(document.querySelector('#editor'), {
            language: 'pl'
        })
        .catch(error => {
            console.error(error);
        });
    </script>
}
