@model Fudee_v2.Models.Dish

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Dish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDishes" />
            <div class="form-group">
                <label asp-for="ImageDish" class="control-label"></label>
                <input asp-for="ImageDish" class="form-control" />
                <span asp-validation-for="ImageDish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameDishes" class="control-label"></label>
                <input asp-for="NameDishes" class="form-control" />
                <span asp-validation-for="NameDishes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionDishes" class="control-label"></label>
                <input asp-for="DescriptionDishes" class="form-control" />
                <span asp-validation-for="DescriptionDishes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRestaurant" class="control-label"></label>
                <select asp-for="IdRestaurant" class="form-control" asp-items="ViewBag.IdRestaurant"></select>
                <span asp-validation-for="IdRestaurant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
